:root {
    /* Main Colors */
    --off-white: #eeeeee;
    --light: #f6f6f6;
    --backdrop: #f1f5f9;

    /* Decorative Colors - Primary */
    --blue: #0d69d5;
    --green: #22c55e;
    --red: #f44336;
    --yellow: #f59e0b;

    /* Decorative Colors - Secondary */
    --secondary-blue: #cce3ff;
    --secondary-yellow: #fdecce;
    --secondary-green: #d3f3df;
}

.decoration {
    background-color: black;
    height: 2px;
}

.decoration::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: 2px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}

.side {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 0.5rem #aaaaaaaa;
    z-index: 5;
}

.side-item {
    border-radius: 0.5rem;
}

.side-item.active,
.side-item:hover {
    background-color: var(--light);
    cursor: pointer;
}

.nav-icon {
    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar {
    height: 5rem;
    background-color: white;
}

.top-bar .top-icons div {
    width: 2rem;
    height: 2rem;
}

.top-bar .top-icons .top-notifs::before {
    content: "";
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    background-color: red;
    border-radius: 100%;
    top: -5%;
    right: -5%;
}

.search {
    border: 1px solid #aaaaaa;
    padding: 0.5rem;
    border-radius: 1rem;
}

.search svg {
    color: #aaaaaa;
}

.search input,
.search input:focus,
.search input:active {
    border: none;
    outline: none;
}

.search input {
    width: 5rem;
    transition-duration: 0.3s;
}

.search input:focus,
.search input:active {
    width: 7rem;
}

.search input:focus::placeholder,
.search input:active::placeholder {
    opacity: 0;
}

.content .title::before,
.content .title::after {
    content: "";
    height: 3px;
    position: absolute;
    bottom: -15%;
    left: 0;
}

.content .title::after {
    width: 25%;
    background-color: black;
}

.content .title::before {
    width: 75%;
    background-color: white;
}

.cards {
    grid-template-columns: 1fr;
}

.card {
    border: none !important;
}

.welcome .solid-bg {
    background-color: var(--off-white);
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: calc(95.05px + 3.5rem / 2);
}

.welcome .bg-content {
    text-align: center;
}

.welcome .welcome-img {
    display: none;
    width: 100%;
    height: calc(95.05px + 3.5rem / 2);
}

.welcome .user-image {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
}

.card-btn {
    width: fit-content;
}

.draft .draft-input {
    background-color: var(--off-white);
    border: none;
    outline: none;
    border-radius: 5px;
}

.target-item .left {
    width: 5rem;
    height: 5rem;
}

.target-bar.blue {
    height: 5px;
    background-color: var(--secondary-blue);
}
.target-bar.yellow {
    height: 5px;
    background-color: var(--secondary-yellow);
}
.target-bar.green {
    height: 5px;
    background-color: var(--secondary-green);
}

.blue-target {
    background-color: var(--secondary-blue);
    color: var(--blue);
}
.yellow-target {
    background-color: var(--secondary-yellow);
    color: var(--yellow);
}
.green-target {
    background-color: var(--secondary-green);
    color: var(--green);
}

.target-bar.blue .progress-bar {
    width: 80%;
    background-color: var(--blue);
}
.target-bar.yellow .progress-bar {
    width: 55%;
    background-color: var(--yellow);
}
.target-bar.green .progress-bar {
    width: 75%;
    background-color: var(--green);
}

.target-bar.blue .progress-bar .progress-indicator {
    background-color: var(--blue);
    right: -1rem;
}
.target-bar.blue .progress-bar::after {
    border-color: var(--blue) transparent transparent transparent;
    right: -10px;
}
.target-bar.yellow .progress-bar .progress-indicator {
    background-color: var(--yellow);
    right: -1rem;
}
.target-bar.yellow .progress-bar::after {
    border-color: var(--yellow) transparent transparent transparent;
    right: -10px;
}
.target-bar.green .progress-bar .progress-indicator {
    background-color: var(--green);
    right: -1rem;
}
.target-bar.green .progress-bar::after {
    border-color: var(--green) transparent transparent transparent;
    right: -10px;
}

.target-bar .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: visible;
}

.target-bar .progress-bar .progress-indicator {
    width: 2rem;
    height: max-content;
    padding: 2px 4px;
    position: absolute;
    color: white;
    border-radius: 6px;
    font-size: 0.75rem;
    transform: translateY(-1.5rem);
}

.target-bar .progress-bar::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border: 10px solid;
    transform: translateY(-0.35rem);
}

.c-red {
    color: var(--red);
}
.c-green {
    color: var(--green);
}
.c-blue {
    color: var(--blue);
}
.c-yellow {
    color: var(--yellow);
}

.ticket-stats {
    grid-template-columns: 1fr;
}

.ticket-stats .stat {
    border: 1px solid lightgray;
    border-radius: 1rem;
}

.news img {
    border-radius: 0.5rem;
}

.news-article .news-image {
    width: 100%;
    height: 100%;
}

.news-article .date {
    font-size: 0.8rem;
    background-color: var(--off-white);
    border-radius: 5px;
    width: 7.5rem;
}

.news-article .content .text span {
    font-size: 0.85rem;
}

.tasks .disabled-task {
    opacity: 0.5;
    text-decoration: line-through;
}

.tasks .del {
    transition-duration: 0.3s;
}

.tasks .del:hover {
    cursor: pointer;
    color: red;
}

.custom-table .thead {
    color: gray;
    font-weight: lighter;
}

.custom-table .custom-row span {
    font-weight: 600;
}

.custom-table .search-label,
.upload-list .size-label {
    background-color: var(--off-white);
    padding: 2px 5px;
    width: 3rem;
    border-radius: 7px;
    text-align: center;
}

.upload-list .size-label {
    font-size: 0.85rem;
    padding: 3px 7px;
}

.file-upload .file-icon img {
    width: 2.5rem;
}

.progress-list .line {
    width: 2px;
    background-color: var(--blue);
    left: 1rem;
    transform: translate(-50%);
}

.project-indicator {
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: 2px solid var(--blue);
    background-color: white;
}

.project-indicator div {
    border-radius: 100%;
}

.project-indicator .completed {
    background-color: var(--blue);
}

.project-indicator .current {
    animation: 1s infinite ease-in-out fade;
}

.reminder .reminder-content > span {
    font-size: 0.85rem;
}

.reminder .decoration-ball {
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
}

.reminder .reminder-content {
    border-left: 2px solid black;
}

.reminder.blue .decoration-ball {
    background-color: var(--blue);
}
.reminder.green .decoration-ball {
    background-color: var(--green);
}
.reminder.yellow .decoration-ball {
    background-color: var(--yellow);
}
.reminder.red .decoration-ball {
    background-color: var(--red);
}

.reminder.blue .reminder-content {
    border-color: var(--blue);
}
.reminder.green .reminder-content {
    border-color: var(--green);
}
.reminder.yellow .reminder-content {
    border-color: var(--yellow);
}
.reminder.red .reminder-content {
    border-color: var(--red);
}

.post-content .user-image {
    width: 3rem;
}

.social {
    height: 3rem;
}

.social .social-icon {
    width: 3rem;
    height: 3rem;
    transition-duration: 0.3s;
}

.social .social-icon:hover {
    transform: rotate(5deg);
}

.social .social-label {
    padding: 2px 7px;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
}

.social .social-stat > span {
    font-size: 0.85rem;
}

.social.twitter {
    background-color: #d2ecfc;
}
.social.twitter .social-label {
    background-color: #1da1f2;
}
.social.twitter .social-stat > span {
    color: #1da1f2;
}
.social.twitter .social-icon {
    background-color: #1da1f2;
}

.social.facebook {
    background-color: #d1e4fc;
}
.social.facebook .social-label {
    background-color: #1877f2;
}
.social.facebook .social-stat > span {
    color: #1877f2;
}
.social.facebook .social-icon {
    background-color: #1877f2;
}

.social.youtube {
    background-color: #ffcccc;
}
.social.youtube .social-label {
    background-color: #ff0000;
}
.social.youtube .social-stat > span {
    color: #ff0000;
}
.social.youtube .social-icon {
    background-color: #ff0000;
}

.social.linked {
    background-color: #cce4f0;
}
.social.linked .social-label {
    background-color: #0077b5;
}
.social.linked .social-stat > span {
    color: #0077b5;
}
.social.linked .social-icon {
    background-color: #0077b5;
}

.project-table {
    grid-column: 1 / -1;
    order: 99999;
}

.project-table .table-content {
    overflow-x: auto;
}

.project-table .table-content table {
    min-width: 1000px;
    width: 100%;
    border-spacing: 0;
}

.project-table .table-content table {
    border-color: var(--off-white) !important;
}

.project-table .table-content table th {
    background-color: var(--off-white) !important;
}

.project-table .table-content table tr td {
    transition-duration: 0.3s;
}

.project-table .table-content th,
.project-table .table-content td {
    padding: 1rem;
    align-content: center;
}

.project-table .table-content .status-label {
    background-color: var(--off-white);
    padding: 4px 10px;
    border-radius: 7px;
    text-align: center;
    font-size: 0.8rem;
    color: white;
    width: max-content;
}

.project-table .table-content .status-label.pending {
    background-color: var(--yellow);
}
.project-table .table-content .status-label.rejected {
    background-color: var(--red);
}
.project-table .table-content .status-label.in-progress {
    background-color: var(--blue);
}
.project-table .table-content .status-label.completed {
    background-color: var(--green);
}

.team-members .member {
    width: 2rem;
    height: 2rem;
    margin-left: -1rem;
}

.team-members .member:hover {
    z-index: 99;
    cursor: pointer;
}

.team-members .member img {
    border-radius: 100%;
    border: 1px solid white;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (min-width: 576px) {
    .side-item {
        width: 100%;
    }

    .welcome .welcome-img {
        display: block;
    }

    .welcome .bg-content {
        text-align: start;
    }

    .welcome .user-image {
        position: relative;
        left: 1rem;
        top: calc(100% - 3.5rem / 2);
        transform: translate(0%);
    }

    .ticket-stats {
        grid-template-columns: 1fr 1fr;
    }

    .news-article .news-image {
        width: 25%;
    }
}

@media (min-width: 1187px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1652px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
